.div_dashboard {
  padding: 16px;
  background-color: #172c3c;
  // background-color: WHITE;
  height: 100vh;
  overflow: hidden;
}

.btn_back {
  &:hover {
    opacity: 0.9;
  }

  position: absolute;
  top: 16px;
  left: 16px;
  opacity: 0.2;
}
